@page
@using FlightCrashSite.Services
@model IndexModel
@inject IFlightCrashService flightCrashService
@{
    ViewData["Title"] = "Home page";
    List<Models.FlightYearlyCrashReport> yearlyCrashes = flightCrashService.GetFlightYearlyCrashReports(1950, 2000);
    int p1 = 2;
}


<div id="main" style="width: 600px;height:400px;">
</div>


<script src="~/js/chart.js" asp-append-version="true"></script>

<script type="text/javascript">
    //CALL JS FUNCTIONS TO ADD DATA TO CHARTS
    yearlyCrashes(@Html.Raw(Newtonsoft.Json.JsonConvert.SerializeObject(yearlyCrashes)))
</script>
